.container {
	padding: 0 120px;
}

header {
	color: white;

	.header {

		&__menu {
			background-color: black;
			height: 74px;
			line-height:74px;
			border-bottom: white solid 2px;

			&--logo {
				font-size: 26px;
			}

			.container {
				display: flex;
				justify-content: space-between;
			}

			&--list {

				ul {
					display: flex;

					li {
						margin-left: 40px;
					}
				}
			}
		}

		&__image {
			background-image: url(../images/fv-bgi@2x.jpg);
			height: 740px;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;

			&--logo {
				font-size: 50px;
				padding: 42px;
				border: white solid 2px;
				position: absolute;
				top: 50%;
			}
		}
	}
}