.container {
	padding: 0 120px;
	width: 1120px;
	margin: 0 auto;
}

header {
	color: white;

	.header {

		&__menu {
			background-color: black;
			height: 74px;
			line-height:74px;
			border-bottom: white solid 2px;

			&--logo {
				font-size: 26px;
			}

			.container {
				display: flex;
				justify-content: space-between;
			}

			&--list {

				ul {
					display: flex;

					li {
						margin-left: 40px;
					}
				}
			}
		}

		&__image {
			background-image: url(../images/fv-bgi@2x.jpg);
			height: 740px;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;

			&--logo {
				font-size: 50px;
				padding: 42px;
				border: white solid 2px;
				position: absolute;
				top: 50%;
			}
		}
	}
}

.title {
	text-align: center;
	font-size: 36px;
	font-weight: bold;
	margin: 200px 0 80px;
}

.about {

	&__content {

		&--title {
			font-size: 24px;
			letter-spacing: 4px;
			line-height: 40px;
		}

		&--text {
			line-height: 30px;
			padding-top: 30px;
		}
	}
}

.service {
	&__content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 40px;

		&:nth-child(odd) {
			flex-flow: row-reverse;
		}

		&--sentence {
			width: 480px;

			.sentence__title {
				font-size: 24px;
				line-height: 40px;
				padding-bottom: 30px;
			}

			.sentence__text {
				line-height: 30px;
			}
		}
	}
}

.news {
	&__cards {
		display: flex;
		justify-content: space-between;
	}
	&__card {
		width: 320px;
		border: rgba(211, 211, 211, 0.66) solid 3px;
		box-shadow: 2px 2px lightgray;

		&--text {
			padding: 30px;
			line-height: 30px;
		}
	}
}