.container {
	padding: 0 120px;
	width: 60%;
	margin: 0 auto;
}

.burger-btn{
	display: none;
}

header {
	color: white;

	.header {

		&__menu {
			background-color: black;
			height: 74px;
			line-height:74px;
			border-bottom: white solid 2px;

			&--logo {
				font-size: 26px;
			}

			.container {
				display: flex;
				justify-content: space-between;
			}

			&--list {

				ul {
					display: flex;

					li {
						margin-left: 40px;

						a {
							color: white;
							text-decoration: none;
						}
					}
				}
			}
		}

		&__image {
			background-image: url(../images/fv-bgi@2x.jpg);
			background-repeat: no-repeat;
			background-size: cover;
			height: 740px;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;

			&--logo {
				font-size: 50px;
				padding: 42px;
				border: white solid 2px;
				position: absolute;
				top: 50%;
			}
		}
	}
}

.title {
	text-align: center;
	font-size: 36px;
	font-weight: bold;
	margin: 120px 0 80px;
}

.about {

	&__content {

		&--title {
			font-size: 24px;
			letter-spacing: 4px;
			line-height: 40px;
		}

		&--text {
			line-height: 30px;
			padding-top: 30px;
		}
	}
}

.service {
	&__content {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 40px;

		&:nth-child(even) {
			flex-flow: row-reverse;
		}

		&--sentence {
			width: 50%;

			.sentence__title {
				font-size: 24px;
				line-height: 40px;
				padding-bottom: 30px;
			}

			.sentence__text {
				line-height: 30px;
			}
		}
	}
}

.news {
	&__cards {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	&__card {
		width: 320px;
		border: rgba(211, 211, 211, 0.66) solid 3px;
		box-shadow: 2px 2px lightgray;

		&--text {
			padding: 30px;
			line-height: 30px;
		}
	}
}

.contacts {
	margin-bottom: 40px;

	&__form {
		padding: 0 200px;

		label {
			display: block;
			padding: 25px 0 5px;
		}

		input, textarea {
			padding: 10px;
			width: 100%;
			font-size: 18px;
		}

		button {
			background-color: black;
			color: white;
			width: 200px;
			height: 50px;
			font-size: 18px;
			border-radius: 50px;
			display: block;
			margin: 30px auto 0;
		}
	}
}

footer {
	background-color: black;
	color: white;
	height: 60px;
	text-align: center;

	p {
  		padding-top: 25px;
	}
}

@media screen and (max-width: 767px) {
	.container {
		padding: 0;
		width: 95%;
	}

	header {
		.header {
			&__menu {
				&--list {
					display: none;
				}
			}

			&__image {
				background-image: url(../images/fv-bgi_sp@2x.jpg);

				&--logo {
					font-size: 30px;
				}
			}
		}
	}

	.service {
		&__content {
			display: block;

			&--image {
				img {
					width: 100%;
				}
			}

			&--sentence {
				width: 100%;
				padding-bottom: 30px;

				.sentence {
					&__text {
						font-size: 14px;
					}
				}
			}
		}
	}

	.news {
		&__cards {
			justify-content: center;
		}

		&__card {
			margin-bottom: 30px;
		}
	}

	.contacts {
		&__form {
			padding: 0;

			input, textarea {
				padding: 0;
			}
		}
	}

	// ハンバーガーボタン
	.burger-btn {
		display: block;
		width: 39px;
		height: 39px;
		position: relative;
		z-index: 3;
		border: none;
		top: 15px;
	}
	.bar {
		width: 20px;
		height: 2px;
		display: block;
		position: absolute;
		left: 50%;
		transform: translateX((-50%));
		background-color: #fff;
	}
	.bar_top {   
		top: 10px;
	}
	.bar_mid {    
		top: 50%;
		transform: translate(-50%,-50%);
	}
	.bar_bottom {
		bottom: 10px;
	}
}
